@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tùy chỉnh cuộn */
::-webkit-scrollbar {
    width: 6px; /* Scrollbar width */
}

::-webkit-scrollbar-track {
    background: #f0f0f0; /* Scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Hover effect */
}


/* Tùy chỉnh  */
.login-card .ant-card-head-title{
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
}

.register-card .ant-card-head-title{
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
}

/* Question */
.vote-count, .answer-count, .view-count {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
    padding: 5px;
  }
  
.vote-count span, .answer-count span, .view-count span {
    font-weight: bold;
    font-size: 18px;
}

.vote-count small, .answer-count small, .view-count small {
    font-size: 12px;
    color: #8c8c8c;
  }
  
.vote-count.positive {
    color: #52c41a;
}
  
.vote-count.negative {
    color: #f5222d;
}

.ant-popover-content .ant-popover-inner{
    padding: 0px;
}